<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KitaAdmin"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.MenuActivity" />
        <activity
            android:name=".Activities.InformacionActualActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.InformacionEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CalendarioActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.InformeEditAcitvity"
            android:exported="false" />
        <activity
            android:name=".Activities.InformeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AlumnoEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AlumnoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AlumnoAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ListaAlumnosActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.GrupoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.GruposActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ListaProfesoresActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PadresAlumnoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ComedorActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ComedorEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfesorEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfesorAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UsuarioEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UsuarioAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AyudaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CalendarioEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>